__pycache__/
private_api_config.py
arabic_english.csv
english_arabic.csv
test.csv
qtest.csv
test2.csv
full_arabic_source.csv
full_english_source.csv
in_test.csv
results.csv
results.md
source_arabic.xml
